# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Environment
.env

# Testing
.pytest_cache/
.coverage
htmlcov/

# Mac
.DS_Store
.AppleDouble

# VS Code
.vscode/

# Jupyter
*.ipynb
.ipynb_checkpoints/

# Logs
*.log

 